@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  background-color: hsl(148, 38%, 91%);
  color: hsl(187, 24%, 22%);
}

section {
  margin: 133px auto;
  background-color: hsl(0, 0%, 100%);
  max-width: 765px;
  padding: 40px;
  border-radius: 16px;
}

h1 {
  font-size: 2rem;
}

form {
  margin-top: 35px;
}

.form-label {
  display: block;
  font-size: 1rem;
}
.form-label::after {
  content: "   *";
  color: hsl(169, 82%, 27%);
}

fieldset {
  display: flex;
  gap: 20px;
  border: none;
  margin: 30px 0;
}
fieldset div {
  border-radius: 8px;
  border: 1px solid hsl(186, 15%, 59%);
  padding: 14px 25px;
}
fieldset label {
  font-size: 1.1875rem;
  vertical-align: middle;
  padding-left: 10px;
  cursor: pointer;
}

legend {
  margin-bottom: 20px;
}
legend::after {
  content: "   *";
  color: hsl(169, 82%, 27%);
}

input[type=text] {
  border-radius: 8px;
  border: 1px solid hsl(186, 15%, 59%);
  font-family: "Karla", sans-serif;
  font-size: 1.125rem;
  color: hsl(187, 24%, 22%);
  margin-top: 10px;
  width: 100%;
  height: 53px;
  cursor: pointer;
  padding: 20px 22px;
}
input[type=text]:focus {
  outline: none;
  border: 2px solid hsl(169, 82%, 27%);
}

input[type=radio] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox] {
  margin-right: 20px;
  width: 24px;
  cursor: pointer;
}

textarea {
  border-radius: 8px;
  border: 1px solid hsl(186, 15%, 59%);
  font-family: "Karla", sans-serif;
  font-size: 1.175rem;
  color: hsl(187, 24%, 22%);
  margin-top: 10px;
  width: 100%;
  height: 109px;
  resize: none;
  cursor: pointer;
  padding: 15px 25px 15px 22px;
}
textarea:focus {
  outline: none;
  border: 2px solid hsl(169, 82%, 27%);
}

button {
  margin-top: 45px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(169, 82%, 27%);
  border-radius: 8px;
  width: 100%;
  font-weight: 700;
  height: 62px;
  border: 1px solid hsl(169, 82%, 27%);
  font-size: 1.125rem;
  font-family: "Karla", sans-serif;
}

.name-container {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.name-wrapper, .query-type-wrapper {
  width: 50%;
}

.success-msg, .error-message {
  display: none;
}

.consent-container {
  display: flex;
  margin-top: 41px;
}
.consent-container label {
  cursor: pointer;
}
.consent-container label::after {
  content: " *";
  color: hsl(169, 82%, 27%);
}