$green_200: hsl(148, 38%, 91%);
$green_600: hsl(169, 82%, 27%);
$red: hsl(0, 66%, 54%);
$white: hsl(0, 0%, 100%);
$grey_500: hsl(186, 15%, 59%);
$grey_900: hsl(187, 24%, 22%);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    background-color: $green_200;
    color: $grey_900;
}

@mixin add_require_symbol {
    content: "\a0\a0\a0*";
    color: $green_600;
}

@mixin set_border {
    border-radius: 8px;
    border: 1px solid $grey_500;
}

@mixin flex_gap_20 {
    display: flex;
    gap: 20px;
}