$green_200: hsl(148, 38%, 91%);
$green_600: hsl(169, 82%, 27%);
$red: hsl(0, 66%, 54%);
$white: hsl(0, 0%, 100%);
$grey_500: hsl(186, 15%, 59%);
$grey_900: hsl(187, 24%, 22%);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    background-color: $green_200;
    color: $grey_900;
}

@mixin add_require_symbol($val) {
    content: $val;
    color: $green_600;
}

@mixin set_border {
    border-radius: 8px;
    border: 1px solid $grey_500;
}

@mixin flex_gap_20 {
    display: flex;
    gap: 20px;
}

@mixin set_font($size) {
    font-family: "Karla", sans-serif;
    font-size: $size;
    color: $grey_900;
}

@mixin change_focus_border {
    outline: none;
    border: 2px solid $green_600;
}

@mixin set_checked_input_styles($imgURL, $startX){
    content: '';
    display: inline-block;
    background-image: url($imgURL);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 20px;
    height: 21px;
    left: $startX;
    top: calc(50% + 1px);
    transform: translate(-100%, -50%);
    opacity: 0;
}