@import "./config";

section {
    margin: 133px auto;
    background-color: $white;
    max-width: 765px;
    padding: 40px;
    border-radius: 16px;
}

h1 {
    font-size: 2rem;
}

form {
    margin-top: 35px;
}

.form-label {
    display: block;
    font-size: 1rem;

    &::after {
        @include add_require_symbol;
    }
}

fieldset {
    @include flex_gap_20;

    border: none;
    margin: 30px 0;

    & div {
        @include set_border;

        padding: 14px 25px;
    }

    & label {
        font-size: 1.1875rem;
        vertical-align: middle;
        padding-left: 10px;
    }
}

legend {
    margin-bottom: 20px;

    &::after {
        @include add_require_symbol;
    }
}

input[type="text"] {
    @include set_border;

    margin-top: 10px;
    font-size: 2.75rem;
    width: 100%;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.name-container {
    @include flex_gap_20;

    margin-bottom: 30px;
}

.name-wrapper, .query-type-wrapper {
    width: 50%;
}

.success-msg, .error-message {
    display: none;
}