@import "./config";

section {
    margin: 128px auto;
    background-color: $white;
    max-width: 740px;
    padding: 38px 42px;
    border-radius: 16px;
}

h1 {
    font-size: 1.9375rem;
}

form {
    margin-top: 32px;
}

.form-label {
    display: block;
    font-size: 1rem;

    &::after {
        @include add_require_symbol("\a0\a0\a0*");
    }
}

label[for=message]{
    margin-top: 26px;
}

fieldset {
    @include flex_gap(16px);

    border: none;
    margin-top: 27px;

    & div {
        @include set_border;

        padding: 14px 25px;
    }

    & label {
        font-size: 1.125rem;
        vertical-align: middle;
        padding-left: 10px;
        cursor: pointer;
    }

    &[aria-invalid=true] + .error-message{
        display: inline-block;
        margin: 20px 0 3px;
    }
}

legend {
    margin-bottom: 19px;

    &::after {
        @include add_require_symbol("\a0\a0\a0*");
    }
}

input[type=text], input[type=email] {
    @include set_border;
    @include set_font(1.125rem);

    margin-top: 11px;
    width: 100%;
    height: 51px;
    cursor: pointer;
    padding: 20px 22px;

    &:focus, &:hover {
        @include change_focus_border;
    }

    &[aria-invalid=true]{
        border-color: $red;
    }

    &[aria-invalid=true] + .error-message{
        display: inline-block;
        margin: 10px 0 3px;
    }
}

input[type=radio] {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    cursor: pointer;

    &:checked {
        opacity: 0;
    }
}

input[type=checkbox] {
    margin-right: 18px;
    width: 22px;
    cursor: pointer;

    &:checked {
        opacity: 0;
    }
}

textarea {
    @include set_border;
    @include set_font(1.125rem);
    
    margin-top: 11px;
    width: 100%;
    height: 105px;
    resize: none;
    cursor: pointer;
    padding: 15px 25px 15px 22px;

    &:focus, &:hover {
        @include change_focus_border;
    }

    &[aria-invalid=true]{
        border-color: $red;
    }

    &[aria-invalid=true] + .error-message{
        display: inline-block;
        margin: 7px 0;
    }
}

button {
    margin-top: 43px;
    color: $white;
    background-color: $green_600;
    border-radius: 8px;
    width: 100%;
    font-weight: 700;
    height: 59px;
    border: 1px solid $green_600;
    font-size: 1.125rem;
    font-family: "Karla", sans-serif;

    &:hover {
        background-color: $grey_900;
    }
}

.name-container {
    @include flex_gap(16px);

    margin-bottom: 27px;
}

.name-wrapper, .query-type-wrapper {
    width: 50%;
}

.query-type-wrapper:hover {
    cursor: pointer;
}

.query-type-wrapper label {
    position: relative;

    &::before {
        @include set_checked_input_styles("../assets/images/icon-radio-selected.svg", -4px);
    }
}

.error-message {
    display: none;
    color: $red;
}

.consent-container {
    display: flex;
    margin-top: 39px;

    & label {
        position: relative;
        cursor: pointer;

        &::after {
            @include add_require_symbol("\a0*");
        }

        &::before {
            @include set_checked_input_styles("../assets/images/icon-checkbox-check.svg", -21px);
        }
    }
}

.selected-query {
    border: 2px solid $green_600;
    background-color: $green_200;

    & label::before {
        opacity: 1;
    }
}

.consented label::before{
    opacity: 1;
}

.show-consent-error {
    display: inline-block;
    margin: 14px 0;
}

.success-msg {
    display: none;
    background-color: $grey_900;
    color: $white;
    position: absolute;
    top: 10px;
    left: 50%;
    border-radius: 10px;
    padding: 25px;
    transform: translateX(-50%);
    
    div {
        display: flex;
        margin-bottom: 16px;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 1px;
    }

    img {
        padding-right: 8px;
    }
}


@import "./mobile";